[submodule "CommonUtils"]
	path = CommonUtils
	url = https://github.com/devgianlu/CommonUtils
	branch = master
[submodule "MaterialPreferences"]
	path = MaterialPreferences
	url = https://github.com/devgianlu/MaterialPreferences
	branch = master
[submodule "Android--Library-Country-Flags"]
	path = Android--Library-Country-Flags
	url = https://github.com/devgianlu/Android--Library-Country-Flags
	branch = master
[submodule "aria2lib"]
	path = aria2lib
	url = https://github.com/devgianlu/aria2lib
	branch = master
