<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gianlu.aria2app">

    <!-- List networks -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:targetApi="o"/>
    <!-- You known... -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Download files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Load certificate or files -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Foreground service on Android P+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Add shortcuts to homepage -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="n">

        <!-- General files provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gianlu.aria2app"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Loading activity -->
        <activity
            android:name=".LoadingActivity"
            android:configChanges="uiMode"
            android:theme="@style/FullscreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Chooser service -->
            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="com.gianlu.aria2app.Services.ProfileChooserService" />

            <!-- Shortcuts -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="com.gianlu.aria2app.ADD_TORRENT" />
                <action android:name="com.gianlu.aria2app.ADD_URI" />
                <action android:name="com.gianlu.aria2app.ADD_METALINK" />
            </intent-filter>

            <!-- Open every link -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/x-bittorrent" />
                <data android:mimeType="application/metalink+xml" />
                <data android:mimeType="application/metalink4+xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:scheme="sftp" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="magnet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:scheme="sftp" />
                <data android:host="*" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".Main.MainActivity"
            android:configChanges="uiMode"
            android:theme="@style/AppTheme.NoActionBar.Drawer">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/main_searchable" />
        </activity>

        <!-- WebView activity -->
        <activity
            android:name=".WebView.WebViewActivity"
            android:configChanges="uiMode"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Edit profile activity -->
        <activity
            android:name=".Activities.EditProfileActivity"
            android:configChanges="orientation"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <!-- In-App downloader configuration activity -->
        <activity
            android:name=".InAppAria2.InAppAria2ConfActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:windowSoftInputMode="stateHidden" />

        <!-- DirectDownload activity -->
        <activity
            android:name=".Activities.DirectDownloadActivity"
            android:parentActivityName=".Main.MainActivity" />

        <!-- Add download activities -->
        <activity
            android:name=".Activities.AddUriActivity"
            android:configChanges="orientation|uiMode"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.URI" />
        <activity
            android:name=".Activities.AddTorrentActivity"
            android:configChanges="orientation|uiMode"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Torrent" />
        <activity
            android:name=".Activities.AddMetalinkActivity"
            android:configChanges="orientation|uiMode"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Metalink" />
        <activity
            android:name=".Activities.BatchAddActivity"
            android:configChanges="orientation|uiMode"
            android:parentActivityName=".Main.MainActivity"
            android:theme="@style/AppTheme.Batch" />

        <!-- More about download activity -->
        <activity
            android:name=".Activities.MoreAboutDownloadActivity"
            android:parentActivityName=".Main.MainActivity"
            android:configChanges="uiMode"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Preferences activity -->
        <activity
            android:name=".PreferenceActivity"
            android:configChanges="uiMode" />

        <!-- Logs activity -->
        <activity
            android:name="com.gianlu.commonutils.LogsActivity"
            android:configChanges="uiMode" />

        <!-- Search Torrent activity -->
        <activity
            android:name=".Activities.SearchActivity"
            android:configChanges="orientation|uiMode"
            android:parentActivityName=".Main.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/torrent_searchable" />
        </activity>

        <!-- Notification service -->
        <service
            android:name=".Services.NotificationService"
            android:exported="false" />

        <!-- Boot completed receiver -->
        <receiver
            android:name=".Services.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Chooser service -->
        <service
            android:name=".Services.ProfileChooserService"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>

        <!-- Logs provider -->
        <provider
            android:name="com.gianlu.commonutils.LogsProvider"
            android:authorities="com.gianlu.aria2app.logs"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logs_paths" />
        </provider>
    </application>

</manifest>