<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gianlu.aria2app">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Add profile activity -->
        <activity
            android:name=".Main.Profile.AddProfileActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add download activities -->
        <activity
            android:name=".Main.AddTorrentActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Main.AddURIActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />

        <!-- More about download activity -->
        <activity
            android:name=".MoreAboutDownloadActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Preferences activity -->
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/title_activity_main_settings" />

        <!-- Logs activity -->
        <activity
            android:name=".LogsActivity"
            android:parentActivityName=".PreferencesActivity" />

        <!-- aria2 terminal activity -->
        <activity
            android:name=".TerminalActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />

        <!-- Notification service -->
        <service
            android:name=".Services.NotificationWebSocketService"
            android:exported="false" />

        <!-- Google Analytics -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
    </application>
</manifest>